<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mishappstudios.bottomsup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:isGame="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/BottomsUpMainScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectCategoriesActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_select_categories"
            android:theme="@style/BottomsUpTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ListPlayersActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/BottomsUpTheme" />
        <activity
            android:name=".QuestionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:noHistory="true"
            android:theme="@style/BottomsUpTheme" />

        <activity
            android:name=".PurchaseCoinsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.Dialog.NoActionBar" />
        <activity
            android:name=".AboutBottomsUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.Dialog.NoActionBar" />
        <activity
            android:name=".FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:theme="@style/dialog_light" />

        <service android:name=".BottomsUpMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>